*{
    margin: 0;
    padding: 0;
    
}
#main{
    height: 100vh;
    overflow: hidden;
    background: url("fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.main{
	background: url("fundo.jpg");
    overflow: hidden;
}

.espaco{
    height: 25vh;
}
.espaco1{
    height: 1vh;
}
.espaco2{
    height: 2vh;
}
.espaco3{
    height: 12vh;
}
.verificar{
	color: yellow !important;
}

 .msError{
 	font-size: 16px;
 	float: left;
 	margin-left: 30px;
 	margin-bottom: -110px;
 }
 
 .card{
 
 	border-radius: 10px !important;
 }