<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>Reset</title>
</head>
<body>

    <main>
        <div class="container">
            <div th:if="${not #strings.isEmpty(message)}">
                <span th:text="${message}"></span>
            </div>
						<div style="height: 40vh;"></div>
                        <form id="formCheck" class="center"  novalidate="novalidate"  th:action="@{/resetStatus}" method="post">
                            <div class="row">
                               <input class="waves-effect waves-light btn" type="submit" value="Resetar status">
                            </div>
                        </form>

        </div>
    </main>
        
</body>

		
	

</html>