<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <title>Reset</title>
</head>
<body>

    <main>
        <div class="container">
            <div th:if="${not #strings.isEmpty(message)}">
                <span th:text="${message}"></span>
            </div>

                        <form id="formCheck" class="col s12 "  novalidate="novalidate"  th:action="@{/resetStatus}" method="post">
                            <div class="row">
                               <input type="submit" value="Resetar status">
                            </div>
                        </form>

        </div>
    </main>
        
</body>

		
	

</html>